.list {
    height: 500px;
    background-color: #c67bd3;
}

.list-item {
    background: white;
}

.list-item button {
    margin-left: 1px;
    border-radius: 5px;
    border: 1px solid grey;
}

.list-item button:hover {
    background-color: #c1c1c1;
}

.list-item h2 {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 3px solid black;
    padding-bottom: 5px;
    width: 100%;
}

:root {
    --purple-primary: #6a0dad;   /*Primary Purple */
    --purple-secondary: #b19cd9; /*Lighter Purple*/
    --purple-accent: #9370db;    /*Accent Color*/
}

body {
    background-color: #fcebff; 
} /*Soft Shade/

/* Override the Bootstrap .btn-danger for a softer look */
#starterModal .btn-danger {
    background-color: rgb(128, 93, 255); /* A pop of color */
    border-color: plum;
}


.btn-primary {
    background-color: var(--purple-primary);
    border-color: plum;
}

.btn-secondary {
    background-color: var(--purple-accent);
    border-color: var(--purple-secondary);
}

.btn-success {
    background-color: var(--purple-accent);
    border-color: var(--purple-accent);
}

.navbar-brand {
    color: purple;
}

.modal-header {
    background-color: var(--purple-primary);
    color: whitesmoke;
}

.modal-footer {
    background-color: var(--purple-secondary);
}

.modal-content {
    border-color: var(--purple-accent);
}
